{% load i18n %}
{% load static %}

<div id="game-alt-{{ id }}">
    <div class="row row-cols-1 row-cols-md-3 g-2 mb-2">
        <div class="col">
            <div class="card h-100">
                <div class="card-header fs-6">{% trans "Terms" %}</div>
                <div class="card-body">
                    <draggable class="list-group"
                               v-model="terms"
                               group="game-{{ id }}-items"
                    >
                        <div class="list-group-item"
                             v-for="(item, index) in terms"
                             :key="item.fields.text"
                             style="padding:0.5rem"
                        >
                            <i class="fa fa-align-justify handle"></i>
                            <% item.fields.text %>
                        </div>
                    </draggable>
                </div>
            </div>
        </div>
        <div class="col" v-for="(item, index) in items">
            <div class="card h-100">
                <draggable class="card-body"
                       group="game-{{ id }}-items"
                       v-model="answers_list[index]"
                       :disabled="!answers_list_status[index]"
                       @add="itemAdded(index)"
            >
                <span class="preserve-linebreaks"><% item.fields.text %></span>
                <div class="list-group-item list-group-item-dark mt-2"
                     v-for="answer in answers_list[index]"
                >
                    <% answer.fields.text %>
                </div>
            </draggable>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" @click="check">{% trans "Check answers" %}</button>
    <button class="btn btn-warning" @click="restart">{% trans "Restart" %}</button>
</div>

<script>
    let game{{ id }} = new Vue({
        el: '#game-alt-{{ id }}',
        delimiters: ['<%', '%>'],
        components: {
            vuedraggable
        },
        data: {
            terms: JSON.parse("{{ terms|escapejs }}"),
            items: JSON.parse("{{ items|escapejs }}"),
            answers: [],
        },
        computed: {
            correct_answers: function () {
                return this.items.map(item => item.fields.correct_term)
            },
            answers_list: function () {
                return this.items.map(item => [])
            },
            answers_list_status: function () {
                return this.items.map(item => true)
            },
        },
        methods: {
            itemAdded: function (index) {
                this.answers_list_status[index] = false
            },
            check: function () {
                // copy answers pk values to an array to make it easier to compare
                var answers_size = Object.keys(this.answers_list).length
                for (var i = 0; i < answers_size; i++) {
                    if (this.answers_list[i][0]) {
                        Vue.set(this.answers, i, this.answers_list[i][0].pk)
                    } else {
                        Vue.set(this.answers, i, undefined)
                    }
                }

                // check if all items were answered
                if (this.answers.includes(undefined) || this.answers.length < this.items.length) {
                   return window.alert(gettext("Please answer all items."))
                }

                // check if all answers are correct
                let correct = this.answers.toString() === this.correct_answers.toString()

                // return feedback
                if (correct) {
                    return window.alert(gettext("You got it! Congratulations."))
                } else {
                    return window.alert(gettext("Please try again."))
                }
            },
            restart: function () {
                this.answers = []
                this.terms = JSON.parse("{{ terms }}".replace(/&quot;/g, '\"'))
                for (var i = 0; i < this.answers_list_status.length; i++) {
                    Vue.set(this.answers_list_status, i, true)
                    Vue.set(this.answers_list, i, [])
                }
            }
        }
    })
</script>