{% load i18n %}
{% load static %}

<div id="game-alt-{{ id }}">
  <div class="row gx-2 mb-2">
    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-header fs-6">{% trans "Terms" %}</div>
        <div class="card-body">
          <draggable
            class="list-group sticky-top"
            :list="terms"
            :group="{name: 'game-{{ id }}-items'}"
            @change="check_answers"
          >
            <div
              class="list-group-item"
              v-for="(element, index) in terms"
              :key="element.fields.text"
            >
              <i class="fa fa-align-justify handle"></i>
              <% element.fields.text %>
            </div>
          </draggable>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card mb-2" v-for="(item, index) in items">
        <div class="card-body">
          <p class="card-text mb-1"><% item.fields.text %></p>
          <div v-for="(element, element_index) in item.fields.correct_terms"
               style="display: flex; flex-direction: row"
               class="mt-2"
          >
            <div style="width: 2.5rem" v-if="info.show_numbers"># <% item.start_number+element_index %>:</div>
            <draggable :list="answers_list[item.start_number+element_index-1]"
                       group="game-{{ id }}-items"
                       class="border border-secondary rounded"
                       style="flex: auto; min-height: 25px"
                       :disabled="!answers_list_status[item.start_number+element_index-1]"
                       @add="itemAdded(item.start_number+element_index-1)"
            >
              <div v-for="(answer, answer_index) in answers_list[item.start_number+element_index-1]"
                   class="ps-1"
                   :class="[correct_answers[item.start_number+element_index-1] === answer.pk ? 'list-group-item-success' : 'list-group-item-danger', correct_answers[item.start_number+element_index-1] === answer.pk ? 'correct-item' : 'incorrect-item']"
              >
                <% answer.fields.text %>
              </div>
            </draggable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" @click="check_answers(false)">{% trans "Check answers" %}</button>
  <button class="btn btn-warning" @click="restart">{% trans "Restart" %}</button>
</div>

<script>
  function getInitialDataGame{{ id }}() {
    let info = JSON.parse("{{ info|escapejs }}")[0].fields
    let terms = JSON.parse("{{ terms|escapejs }}")

    if (info.shuffle == true) {
      terms = _.shuffle(terms)
    }

    return {
      info: info,
      terms: terms,
      answers: [],
    }
  }

  let game{{ id }} = new Vue({
    el: '#game-alt-{{ id }}',
    delimiters: ['<%', '%>'],
    components: {
      vuedraggable
    },
    data: getInitialDataGame{{ id }}(),
    computed: {
      items: function () {
        let items_parsed = JSON.parse("{{ items|escapejs }}");
        items_parsed.forEach((item, index) => {
          if (index > 0) {
           item.start_number = items_parsed[index-1].start_number + items_parsed[index-1].fields.correct_terms.length;
          } else {
            item.start_number = index + 1;
          }
        })
        return items_parsed;
      },
      correct_answers: function () {
        let correct_answers = [];
        this.items.forEach((item) => {
          let correct_terms = item.fields.correct_terms;
          if (correct_terms.length === 1) {
            correct_answers.push(correct_terms[0])
          } else {
            correct_terms.forEach((answer) => {
              correct_answers.push(answer)
            })
          }
        })
        return correct_answers;
      },
      answers_list: function () {
        return this.correct_answers.map(item => [])
      },
      answers_list_status: function () {
        return this.correct_answers.map(item => true)
      },
    },
    methods: {
      itemAdded: function (index) {
        this.answers_list_status[index] = false
      },
      check_answers: function (auto_check) {
        // copy answers pk values to an array to make it easier to compare
        var answers_size = Object.keys(this.answers_list).length
        for (var i = 0; i < answers_size; i++) {
          if (this.answers_list[i][0]) {
            Vue.set(this.answers, i, this.answers_list[i][0].pk)
          } else {
            Vue.set(this.answers, i, undefined)
          }
        }

        // check if all items were answered
        if (!this.answers.includes(undefined) && this.answers.length === this.correct_answers.length) {
          // check if all answers are correct
          let correct = this.answers.toString() === this.correct_answers.toString()

          // return feedback
          if (correct) {
            return window.alert(gettext("You got it! Congratulations."))
          } else {
            return window.alert(gettext("Please try again."))
          }
        } else {
          if (!auto_check) {
            return window.alert(gettext("Please answer all items."))
          }
        }
      },
      restart: function () {
        this.answers = []
        this.terms = JSON.parse("{{ terms }}".replace(/&quot;/g, '\"'))
        for (var i = 0; i < this.answers_list_status.length; i++) {
          Vue.set(this.answers_list_status, i, true)
          Vue.set(this.answers_list, i, [])
        }
      }
    }
  })
</script>
