{% load i18n %}

<div id="game-{{ id }}">
    <div class="card-group mt-2 mb-2">
        <div class="card m-0">
            <div class="card-header fs-6"><% info.source_name %></div>
            <div class="card-body">
                <draggable id="list_source" class="list-group" group="items" v-model="source_list"
                           style="height: 100%; min-height: 60px">
                    <div
                            class="list-group-item"
                            v-for="(element, index) in source_list"
                            :key="element.fields.text"
                            style="padding:0.5rem"
                    >
                        <i class="fa fa-align-justify handle"></i>
                        <% element.fields.text %>
                    </div>
                </draggable>
            </div>
        </div>
        <div class="card m-0">
            <div class="card-header fs-6"><% info.choice1_name %></div>
            <div class="card-body">
                <draggable id="list_column1" class="list-group" group="items" v-model="choice1_user"
                           style="height: 100%; min-height: 60px">
                    <div
                            class="list-group-item"
                            v-for="(element, index) in choice1_user"
                            :key="element.fields.text"
                            style="padding:0.5rem"
                    >
                        <i class="fa fa-align-justify handle"></i>
                        <% element.fields.text %>
                    </div>
                </draggable>
            </div>
        </div>
        <div class="card m-0">
            <div class="card-header fs-6"><% info.choice2_name %></div>
            <div class="card-body">
                <draggable id="list_column2" class="list-group" group="items" v-model="choice2_user"
                           style="height: 100%; min-height: 60px">
                    <div
                            class="list-group-item"
                            v-for="(element, index) in choice2_user"
                            :key="element.fields.text"
                            style="padding:0.5rem"
                    >
                        <i class="fa fa-align-justify handle"></i>
                        <% element.fields.text %>
                    </div>
                </draggable>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" @click="check">{% trans "Check answers" %}</button>
    <button class="btn btn-warning" @click="restart">{% trans "Restart" %}</button>
</div>

<script>
    function getInitialData() {
        return {
                info: JSON.parse("{{ info|escapejs }}")[0].fields,
                source_list: JSON.parse("{{ source_list|escapejs }}"),
                choice1_list: JSON.parse("{{ choice1_list|escapejs }}"),
                choice2_list: JSON.parse("{{ choice2_list|escapejs }}"),
                choice1_user: [],
                choice2_user: [],
            }
    }

    let game{{ id }} = new Vue({
        el: '#game-{{ id }}',
        delimiters: ['<%', '%>'],
        data: getInitialData(),
        computed: {
            choice1_correct: function () {
                return this.info.choice1_items
            },
            choice2_correct: function() {
                return this.info.choice2_items
            }
        },
        components: {
            vuedraggable
        },
        methods: {
            check: function () {
                let selected_column1 = this.choice1_user.map(item => item.pk)
                let selected_column2 = this.choice2_user.map(item => item.pk)
                selected_column1.sort()
                selected_column2.sort()
                this.choice1_correct.sort()
                this.choice2_correct.sort()
                if (selected_column1.toString() === this.choice1_correct.toString() &&
                    selected_column2.toString() === this.choice2_correct.toString()) {
                    window.alert(gettext("You got it! Congratulations."))
                } else {
                    window.alert(gettext("Please try again."))
                }
            },
            restart: function () {
                Object.assign(this.$data, getInitialData())
            }
        }
    })
    // Vue.config.devtools = true
</script>