{% extends "base_accounts_information.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block content_title %}{% translate "Sign Out" %}{% endblock %}

{% block content_body %}
  <p>{% translate 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% translate 'Sign out' %}</button>
  </form>
{% endblock %}
