{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active">{% trans "Change password" %}</li>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-dark text-white fs-5">{% trans "Change password" %}</div>
        <div class="card-body">
            {% if not user.has_usable_password %}
                <div class="alert alert-warning mt-2" role="alert">
                    {% trans "Your account does not have a password yet. Please define it below." %}
                </div>
            {% endif %}
            {% if messages %}
                {% include 'partials/messages.html' %}
            {% endif %}
            <ul>
              <li>Your password can’t be too similar to your other personal information (e.g., your e-mail).</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can’t be a commonly used password.</li>
              <li>Your password can’t be entirely numeric.</li>
            </ul>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'partials/form.html' %}
                <button type="submit" class="btn btn-warning">{% trans "Change password" %}</button>
                <a href="{% url 'my_account' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
