{% extends "base_accounts_information.html" %}

{% load i18n %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content_title %}{% translate "Password Reset" %}{% endblock %}

{% block content_body %}
  {% if user.is_authenticated %}
      <div class="alert alert-warning">
        {% include "account/snippets/already_logged_in.html" %}
      </div>
    {% endif %}

    <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      {% include 'partials/form.html' %}
      <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Reset my password' %}" />
    </form>
{% endblock %}

