{% extends "base_accounts_information.html" %}

{% load i18n %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content_title %}{% translate "Password Reset" %}{% endblock %}

{% block content_body %}
  {% if user.is_authenticated %}
    <div class="alert alert-warning">
      {% include "account/snippets/already_logged_in.html" %}
    </div>
  {% endif %}

  <p class="mb-0">{% blocktranslate %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktranslate %}</p>
{% endblock %}
