{% extends "base_accounts_information.html" %}

{% load i18n %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block content_title %}{% translate "Signup" %}{% endblock %}

{% block content_body %}
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% include 'partials/form.html' %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-primary btn-block">{% translate "Sign up" %}</button>
    </form>
{% endblock %}

{% block content_footer %}
  {% blocktranslate %}
    Already have an account? Then please <a href="{{ login_url }}"> sign in</a>.
  {% endblocktranslate %}
{% endblock %}
