{% autoescape off %}
Hello {{ user.first_name }} {{ user.last_name }},

You're receiving this email because you requested a password reset for your GEN user account.

Please go to the following page and set a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you’ve forgotten: {{ user.username }}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Sincerely,
The GEN Team

--

Bonjour {{ user.first_name }} {{ user.last_name }},

Vous recevez cet e-mail, car vous avez demandé une réinitialisation du mot de passe pour votre compte utilisateur GEN.

Veuillez vous rendre sur la page suivante et définir un nouveau mot de passe:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, au cas où vous auriez oublié: {{ user.username }}

Si le lien ci-dessus ne fonctionne pas, veuillez copier et coller l'URL à la place dans une nouvelle fenêtre de navigateur.

Cordialement,
L'équipe GEN

{% endautoescape %}
