{% extends 'base.html' %}

{% load static %}
{% load embed_video_tags %}

{% block title %}
  {{ forum.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Forums</a></li>
  <li class="breadcrumb-item active">{{ forum.name }}</li>
{% endblock %}

{% block content %}
  <!-- just leaving it empty for now. we will add core here soon. -->
  <div class="card bg-dark text-white border-dark mb-2">
    <h5 class="card-header">{{ forum.name }}</h5>
    <div class="card-body bg-light text-dark p-3">
      <p class="card-text">{{ forum.description }}</p>
      <p class="card-text"><small class="text-muted">Author: {{ forum.author }}</small></p>
      {% if forum.kind == 'YTB' %}
        {% comment %} <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ forum.url }}" allowfullscreen></iframe>
        </div> {% endcomment %}
        <div class="embed-responsive embed-responsive-16by9">
          {% video forum.url '800x600' %} 
        </div>
      {% else %}
        <p>Find a way to embed PDF :D</p>
      {% endif %}
    </div>
  </div>

  <div class="card bg-light mb-2">
    <h5 class="card-header">New comment</h5>
    <div class="card-body p-3">
      <form method="post" novalidate>
        {% csrf_token %}
        
        {% include 'includes/form.html' %}

        <button type="submit" class="btn btn-success">Post</button>
      </form>
    </div>
  </div>

  <div class="card bg-light mb-2">
    <h5 class="card-header">Comments</h5>
    {% for comment in forum.comments.all %}
      <div class="card-body p-3">
        <div class="row">
          <div class="col-2">
            <img src="{% static 'img/avatar.jpg' %}" alt="{{ comment.author.username }}" class="w-100">
            <small>Comments: {{ comment.author.comments.count }}</small> <!-- TODO: improve this count code -->
          </div>
          <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted">{{ comment.author.username }}</strong>
              </div>
              <div class="col-6 text-right">
                <small class="text-muted">{{ comment.created_at }}</small>
              </div>
            </div>
            {{ comment.message }}
            {% comment %} TODO: add edit feature and user authentication {% endcomment %}
            {% comment %} <div class="mt-3">
              {% if comment.author == user %}
              <a href="#" class="btn btn-warning btn-sm" role="button">Edit</a>
              {% endif %}
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="card-body p-3">
        This forum has no comments.
      </div>
    {% endfor %}
  </div>

{% endblock %}