{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Forums</li>
{% endblock breadcrumb %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Forum</th>
        <th>Posts</th>
        <th>Topics</th>
      </tr>
    </thead>
    <tbody>
      {% for forum in forums %}
        <tr>
          <td>
            <a href="{% url 'forum_comments' forum.pk %}">{{ forum.name }}</a>
            <small class="text-muted d-block">{{ forum.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}