{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Log in to OPEN2{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    <h3 class="card-title">Sign up</h3>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-primary btn-block">Create an account</button>
    </form>
  </div>
  <div class="card-footer bg-light text-muted text-center">
    Already have an account? <a href="{% url 'login' %}">Log in</a>
  </div>
{% endblock content %}