[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=gen
Group=gen
WorkingDirectory=/home/gen/GEN
ExecStart=/home/gen/GEN/venv/bin/gunicorn \
        --access-logfile /home/gen/logs/access.log\
	--access-logformat '%({X-Real-IP}i)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"'\
        --workers 3\
        --log-level DEBUG\
        --bind unix:/run/gunicorn.sock \
        GEN.wsgi:application

[Install]
WantedBy=multi-user.target
