{% extends 'base_course_section.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load gravatar %}
{% load checkvotes %}
{% comment %}{% load has_group %}{% endcomment %}
{% load is_instructor %}

{% block head_title %}
    {{ discussion.name }} - {{ block.super }}
{% endblock %}

{#{% block content_title %}#}
{#    <a href="{% url 'section' course.pk section.pk %}" class="text-underline-dashed">{{ section.name }}</a> /#}
{#    {{ discussion.name }}#}
{#{% endblock content_title %}#}

{% block content %}
    <div class="card bg-dark text-white border-dark mb-2">
        <div class="card-header">
            <div class="row">
                {% if gamification %}
                    <div class="col col-2 col-sm-2 col-md-auto col-lg-1 pl-1 pr-1 text-center">
                        {% checkvotes_discussion user.id discussion.pk as discussion_vote_status %}
                        {% if discussion_vote_status %}
                            <a href="{% url 'discussion_remove_vote' course.pk section.pk discussion.pk %}"
                               class="btn btn-primary" aria-label="Remove vote"><i class="fas fa-thumbs-up"></i></a>
                        {% else %}
                            <a href="{% url 'discussion_add_vote' course.pk section.pk discussion.pk %}"
                               class="btn btn-outline-primary" aria-label="Add vote"><i class="far fa-thumbs-up"></i></a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="pl-2"></div>
                {% endif %}
                <div class="col col-10 col-sm-10 col-md-10 col-lg-11 pl-0">
                    <div class="fs-5">{{ discussion.name }}</div>
                    {% if not course.blind_data %}
                        <small>{% trans "By:" %} {{ discussion.author.first_name }} {{ discussion.author.last_name }}</small>
                    {% endif %}
                </div>
            </div>
            {% if user.id == discussion.author.id%}
              <a href="{% url 'edit_discussion' course.pk section.pk discussion.pk %}" class="btn btn-right btn-sm btn-labeled btn-primary">
                  <span class="btn-label"><i class="fas fa-pencil"></i></span>
                  {% trans "Edit discussion" %}
              </a>
            {% endif %}
        </div>
        <div class="card-body bg-light text-dark p-3">
            {% if discussion.description %}
              <div class="item-description">
                {{ discussion.description|safe }}
              </div>
            {% endif %}
            {% if discussion.video %}
                <div class="ratio ratio-16x9">
                    {% include "partials/video_player.html" with video=video %}
                </div>
            {% endif %}
            {% comment %}
                {% if discussion.media.kind == 'YTB' %}
                    <div class="ratio ratio-16x9">
                        {% video discussion.media.url '800x600' %}
                    </div>
                {% else %}
                    <object data="{{ discussion.media.url }}" class="user-thumbnail"></object>
                {% endif %}
            {% endcomment %}

        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header fs-5 pl-3">{% trans "New comment" %}</div>
        <div class="card-body p-3">
            {% if user.is_authenticated %}
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% include 'partials/form.html' %}

                    <button type="submit" class="btn btn-success">{% trans "Post" %}</button>
                </form>
            {% else %}
                {% trans "Please login to comment." %}
            {% endif %}
        </div>
    </div>

    <div class="card bg-light mb-2">
        <div class="card-header fs-5">{% trans "Comments" %}</div>
        <ul class="list-group list-group-flush">
            {% for comment in discussion.comments.all %}
                {% comment %} Using custom template tag to check if the user voted {% endcomment %}
                {% checkvotes_comment user.id comment.pk as comment_vote_status %}

                <li class="list-group-item {{ comment.author|is_instructor:course|yesno:'list-group-item-warning,' }}
                        {{ comment.author.is_staff|yesno:'list-group-item-danger,' }}">
                    <div class="container p-0">
                        <div class="row">
                            {% if gamification %}
                                <div class="col-1 text-center">
                                    {% url 'comment_add_vote' course.pk section.pk discussion.pk comment.pk as add_vote_url %}
                                    {% url 'comment_remove_vote' course.pk section.pk discussion.pk comment.pk as remove_vote_url %}
                                    {% include 'partials/vote_button.html' with author=comment.author user=user add_vote_url=add_vote_url remove_vote_url=remove_vote_url voted=comment_vote_status %}

                                    {% comment %}
                                        <div class="mt-1">{{ comment.vote_score }}</div>
                                    {% endcomment %}
                                </div>
                            {% endif %}
                            <div class="col-1 p-0">
                                <img src="{{ comment.author|gravatar }}" alt="Avatar icon that represents the author"
                                     class="w-100">
                            </div>
                            <div class="col">
                                <div class="row mb-0">
                                    {% comment %}
                                        {% if debug %}
                                            DEBUG: <br/>
                                            author: {{ comment.author }}<br/>
                                            is a course instructor? {{ comment.author|is_instructor:course}}<br/>
                                        {% endif %}
                                    {% endcomment %}
                                    <small class="text-dark p-0">
                                        {% if not course.blind_data %}
                                            {{ comment.author.first_name }} {{ comment.author.last_name }},
                                        {% endif %}
                                        {{ comment.created|naturaltime }}
                                    </small>
                                    {% if comment.author.is_staff %}
                                        <span class="p-0">
                                            <strong>{% trans "ADMIN" %}</strong>
                                        </span>
                                    {% elif comment.author|is_instructor:course %}
                                        <span class="p-0">
                                            <strong>{% trans "Expert" %}</strong>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="row">{{ comment.message }}</div>
                                {% comment %} TODO: add edit feature and user authentication {% endcomment %}
                                {% comment %}
                                    <div class="mt-3">
                                        {% if comment.author == user %}
                                            <a href="#" class="btn btn-warning btn-sm" role="button">{% trans "Edit" %}</a>
                                        {% endif %}
                                    </div>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <div class="card-body">{% trans "This discussion has no comments." %}</div>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
