{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load countscore %}
{% load is_instructor %}
{% load generate_sections_sidebar %}

{% block content_tabs %}
    <a class="list-group-item list-group-item-action active" href="#">{{ course.initial_section_name }}</a>
    {% generate_sections_sidebar %}
{% endblock content_tabs %}

{% block content_title %}
    {{ course.initial_section_name }}
{% endblock content_title %}

{% block content %}
    {% if course.type == 'C' %}
        {% trans "Course" as course_type %}
    {% elif course.type == 'M' %}
        {% trans "Module" as course_type %}
    {% endif %}
    <div class="card mb-3" id="course-details">
        <div class="card-header bg-light fs-5">{% blocktranslate %}{{ course_type }} Details{% endblocktranslate %}</div>
        <table class="table mb-0 course-info">
            <tbody>
            {% if user|is_instructor:course %}
                <tr>
                    <th scope="row" class="th-small ps-3">{% trans "Code" %}</th>
                    <td class="pe-4">{{course.code}}</td>
                </tr>
            {% endif %}

            {% if course.start_date %}
                <tr>
                    <th scope="row" class="th-small ps-3">{% trans "Start" %}</th>
                    <td class="pe-4">{{course.start_date}}<br /><small>{{ course.start_date|naturaltime}}</small></td>
                </tr>
            {% endif %}

            {% if course.end_date %}
                <tr>
                    <th scope="row" class="th-small ps-3">{% trans "End" %}</th>
                    <td class="pe-4">{{course.end_date}}<br /><small>{{ course.end_date|naturaltime}}</small></td>
                </tr>
            {% endif %}

            <tr>
                <th scope="row" class="th-small ps-3">{% trans "Description" %}</th>
                <td class="pe-4">{{ course.description|safe|linebreaksbr }}</td>
            </tr>
            </tbody>
        </table>
        {% if course.provide_certificate %}
            <div class="card-footer">
                {% if course_completed %}
                    <a class="btn btn-primary" href="{% url 'course_certificate' course.pk %}" role="button">{% trans "Download certificate" %}</a>
                {% else %}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{% blocktranslate %}{{ course_type }} not concluded{% endblocktranslate %}">
                        <button class="btn btn-outline-dark" style="pointer-events: none;" type="button">{% trans "Download certificate" %}</button>
                    </span>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="card-group mb-3">
        {% if course.show_scoreboard %}
            <div class="card gamification-card">
                <div class="card-header bg-light fs-5"><i class="fas fa-heart pr-1"></i> {% trans "Scoreboard" %}</div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% trans "Discussions" %}: {% countscore_course user.id course.pk "discussion" %}</li>
                        <li class="list-group-item">{% trans "Comments" %}: {% countscore_course user.id course.pk "comment" %}</li>
                        <li class="list-group-item">{% trans "Quizzes" %}: {% countscore_course user.id course.pk "quiz" %}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if course.show_leaderboard %}
            <div class="card gamification-card">
                <div class="card-header bg-light fs-5"><i class="fas fa-award pr-1"></i> {% trans "Leaderboard" %}</div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% trans "Discussion likes" %}: #{% rank_get user.id course.pk "discussion" %}</li>
                        <li class="list-group-item">{% trans "Comments" %}: #{% rank_get user.id course.pk "comment" %}</li>
                        <li class="list-group-item">{% trans "Quizzes" %}: #{% rank_get user.id course.pk "quiz" %}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if course.show_progress_tracker %}
            <div class="card gamification-card">
                <div class="card-header bg-light fs-5"><i class="fas fa-check-square pr-1"></i>  {% blocktranslate %}{{ course_type }} Progress{% endblocktranslate %}</div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {% trans "Sections completed" as tracker_sections %}
                        {% trans "You have not completed any section yet." as tracker_sections_empty%}
                        {% include "partials/progress_tracker_item.html" with title=tracker_sections progress=sections_progress zero_progress=tracker_sections_empty only %}

                        {% trans "Discussions participation" as tracker_discussions %}
                        {% blocktranslate asvar tracker_discussions_empty %}This {{ course_type }} has no discussions.{% endblocktranslate %}
                        {% include "partials/progress_tracker_item.html" with title=tracker_discussions progress=discussions_progress zero_progress=tracker_discussions_empty alt_bg_color="bg-info" %}

                        {% trans "Quizzes answered" as tracker_quizzes %}
                        {% blocktranslate asvar tracker_quizzes_empty %}This {{ course_type }} has no quizzes.{% endblocktranslate %}
                        {% include "partials/progress_tracker_item.html" with title=tracker_quizzes progress=quizzes_progress zero_progress=tracker_quizzes_empty alt_bg_color="bg-warning"%}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}