{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load is_instructor %}
{% load has_participated %}
{% load discussion_details_get %}

{% block content %}
    {% if section.start_date or section.end_data %}
        <ul class="list-group mb-3">
            {% if section.start_date %}
                <li class="list-group-item"><b>{% trans "Start" %}: </b>{{ section.start_date|naturaltime }}
                    <small>({{ section.start_date }} UTC)</small></li>
            {% endif %}
            {% if section.end_date %}
                <li class="list-group-item"><b>{% trans "End" %}: </b>{{ section.end_date|naturaltime }}
                    <small>({{ section.end_date }} UTC)</small></li>
            {% endif %}
        </ul>
    {% endif %}

    {% if section.description %}
        <p class="text-break">{{ section.description|safe|linebreaksbr }}</p>
    {% endif %}

    <div class="card mb-3">
        <div class="card-header bg-light d-flex fs-5">
            <span class="pt-1 me-auto">{% trans "Discussion boards" %}</span>
            {% if user|is_instructor:course %}
                <a href="{% url 'new_discussion' course.pk section.pk %}" class="btn btn-sm btn-labeled btn-warning">
                    <span class="btn-label"><i class="fas fa-plus"></i></span>
                    {% trans "Create new" %}
                </a>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            {% if section_items.all %}
                {% for item in section_items.all %}
                    {% discussion_details_get user item.discussion as discussion_details %}

                    <li class="list-group-item">
                        <div class="d-flex">

                            {% if gamification %}
                                <div class="flex-shrink-1 pe-2">
                                    {% if discussion_details.enabled %}
                                        {% if discussion_details.voted %}
                                            <a href="{% url 'discussion_clearvote' course.pk section.pk item.discussion.pk %}"
                                               class="btn btn-primary" aria-label="Add vote"><i
                                                    class="fas fa-thumbs-up"></i></a>
                                        {% else %}
                                            <a href="{% url 'discussion_upvote' course.pk section.pk item.discussion.pk %}"
                                               class="btn btn-outline-primary" aria-label="Remove vote"><i
                                                    class="far fa-thumbs-up"></i></a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" class="btn btn-outline-secondary disabled"
                                           aria-label="Voting disabled"><i class="far fa-thumbs-up"></i></a>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="w-100">
                                {% if discussion_details.enabled %}
                                    <a href="{% url 'discussion_comments' course.pk section.pk item.discussion.pk %}">{{ item.name }}</a>
                                {% else %}
                                    <span class="text-muted">{{ item.name }}</span>
                                {% endif %}

                                {% if item.author == user %}
                                    <span class="badge rounded-pill bg-secondary text-light float-end">{% trans "You are the author" %}</span>
                                {% else %}
                                    {% if user|has_participated:item.discussion %}
                                        <span class="badge rounded-pill bg-success float-end">{% trans "Participated" %}</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-warning text-dark float-end">{% trans "To do" %}</span>
                                    {% endif %}
                                {% endif %}

                                {% comment %}
                                    <span class="badge rounded-pill bg-danger float-end">{% trans "Did not submit" %}</span>
                                {% endcomment %}

                                {% if not course.blind_data %}
                                    <p class="mb-0"><small class="text-muted">{% trans "By" %} {{ item.author.first_name }} {{ item.author.last_name }}</small>
                                    </p>
                                {% endif %}
                                {% comment %}
                                    <p class="mb-0"><small
                                            class="text-muted">{{ item.description|safe|linebreaksbr }}</small></p>
                                {% endcomment %}
                                <p class="mb-0">
                                    <small class="text-muted">
                                        <strong>{% trans "Comments:" %}</strong>
                                        {{ item.discussion.get_comment_count }}
                                        {% if item.discussion.get_comment_count > 0 %}
                                            (Last update: {{ item.discussion.last_updated|naturaltime }})
                                        {% endif %}
                                    </small>
                                </p>
                                {% if item.discussion.requirement %}
                                    <small class="text-muted">
                                        {% blocktrans with requirement=item.discussion.requirement.name %}
                                            Note:<em>To get access you must participate in <u>{{ requirement }}</u>
                                            first.</em>
                                        {% endblocktrans %}
                                    </small>
                                {% endif %}
                            </div>
                        </div>

                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">
                    {% trans "No discussion board available." %}
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}
