{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load is_editor %}

{% block title %}{% trans "Manage Sections" %}{% endblock %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header bg-light d-flex fs-5">
      <span class="pt-1 me-auto">{% trans "Manage Sections" %}</span>
      {% if user|is_editor:course %}
          <a href="{% url 'new_section' course.pk %}" class="btn btn-sm btn-labeled btn-warning">
              <span class="btn-label"><i class="fas fa-plus"></i></span>
              {% trans "Create new" %}
          </a>
      {% endif %}
    </div>
    <div class="card-body pb-0">
      <ul class="list-group list-group-flush">
        {% if sections|length > 0 %}
          {% for section in sections %}
            <li class="list-group-item">
              {{ section.name }}
              {% if user.id == section.author.id%}
                <a href="{% url 'edit_section' course.pk section.pk %}" class="btn btn-right btn-sm btn-labeled btn-primary">
                    <span class="btn-label"><i class="fas fa-pencil"></i></span>
                    {% trans "Edit" %}
                </a>
                <a href="{% url 'delete_section' course.pk section.pk %}" class="btn btn-right btn-sm btn-labeled btn-warning">
                    <span class="btn-label"><i class="fas fa-trash-o"></i></span>
                    {% trans "Delete" %}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">
            {% trans "No section available." %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>{% endblock %}

{% block navbar %}
{% endblock navbar %}
