{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load is_instructor %}
{% load quiz_details_get %}

{% block content %}
    {% if section.start_date or section.end_data %}
        <ul class="list-group mb-3">
            {% if section.start_date %}
                <li class="list-group-item"><b>{% trans "Start" %}: </b>{{ section.start_date|naturaltime }}
                    <small>({{ section.start_date }} UTC)</small></li>
            {% endif %}
            {% if section.end_date %}
                <li class="list-group-item"><b>{% trans "End" %}: </b>{{ section.end_date|naturaltime }}
                    <small>({{ section.end_date }} UTC)</small></li>
            {% endif %}
        </ul>
    {% endif %}

    {% if section.description %}
        <p class="text-break">{{ section.description|safe|linebreaksbr }}</p>
    {% endif %}

    {% if not user|is_instructor:course %}
        <div class="card mb-3 section-upload">
            <div class="card-header bg-light d-flex fs-5">
                <span class="pt-1 me-auto">{% trans "Upload" %}</span>
                {% if allow_submission %}
                    <a href="{% url 'upload_video' course.pk section.pk %}" class="btn btn-sm btn-labeled btn-primary">
                        <span class="btn-label"><i class="fas fa-file-upload"></i></span>
                        {% trans "Submit new video" %}
                    </a>
                {% else %}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="auto" data-html="true"
                          title="{% trans 'New submission not allowed.' %}">
                        <a href="#" class="btn btn-sm btn-labeled btn-outline-dark disabled">
                            <span class="btn-label"><i class="fas fa-file-upload"></i></span>
                            {% trans "Submit new video" %}
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="alert alert-info mb-0 pt-2 pb-2" role="alert">
                {% if section.section_output or section.clone_quiz_output_section %}
                    {% trans "The content that you upload here is only accessible by you and, once you publish it, by your peers. Please do not forget to publish your upload to complete this section." %}
                {% else %}
                    {% trans "The content that you upload here is only accessible by you and, once you publish it, by the course instructor(s). Please do not forget to publish your upload to complete this section." %}
                {% endif %}

            </div>
            <ul class="list-group list-group-flush">
                {% if section_items.all %}
                    {% for item in section_items.all %}
                        <li class="list-group-item">
                            <div class="d-flex">
                                {% if section.show_thumbnails %}
                                    <div class="flex-shrink-1 pe-2">
                                        <a href="{% url 'video_player' course.pk section.pk item.videofile.pk %}"><img
                                                src="{{ item.videofile.thumbnail.url }}" class="thumbnail"
                                                alt="{% trans 'Video thumbnail' %}"></a>
                                    </div>
                                {% endif %}
                                <div class="w-100">
                                    <div class="mb-0 mt-1 fs-5"><a
                                            href="{% url 'video_player' course.pk section.pk item.videofile.pk %}">{{ item.videofile.name }}</a>
                                    </div>

                                    {% if not course.blind_data %}
                                        <p>{{ item.videofile.description|linebreaksbr }}</p>
                                    {% else %}
                                        <br>
                                    {% endif %}

                                    <div>
                                        {% if not item.published %}
                                            <a href="{% url 'publish_video' course.pk section.pk item.videofile.pk %}"
                                               class="btn btn-primary" data-toggle="tooltip" data-placement="auto"
                                               data-html="true"
                                               title="{% trans 'WARNING: after publishing you will not be able to delete this submission.' %}">{% trans "Publish submission" %}</a>                                        <a href="{% url 'delete_video' course.pk section.pk item.videofile.pk %}"
                                               class="btn btn-danger">{% trans "Delete" %}</a>
                                        {% else %}
                                            <div class="alert alert-success" role="alert">
                                                {% trans "Published - No changes allowed" %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        <span>{% trans "You have not submitted any content." %}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if user|is_instructor:course or user.is_staff %}
        <div class="card border-warning mb-3 section-upload">
            <div class="card-header bg-light fs-5">{% trans "Leaners' Uploads" %}</div>
            <div class="alert alert-warning mb-0 pt-2 pb-2" role="alert">
                {% trans "These are the videos that have been submitted by the learners." %}
                {% if course.blind_data %}
                    {% trans "This data has been anonymized." %}
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                {% for item in section.section_items.all %}
                    {% if item.published or user.is_staff %}
                        <li class="list-group-item">
                            <div class="d-flex">
                                {% if section.show_thumbnails %}
                                    <div class="flex-shrink-1 pe-2">
                                        <a href="{% url 'video_player' course.pk section.pk item.videofile.pk %}"><img
                                                src="{{ item.videofile.thumbnail.url }}" class="thumbnail"
                                                alt="{% trans 'Video thumbnail' %}"></a>
                                    </div>
                                {% endif %}
                                <div class="w-100">
                                    {% if course.blind_data %}
                                        <div class="mb-0 mt-1 fs-5"><a
                                                href="{% url 'video_player' course.pk section.pk item.videofile.pk %}">Video
                                            id {{ item.videofile.id }}</a></div>
                                        <div class="video-user-info">
                                            <em>{% trans "By: user #" %} {{ item.videofile.author.id }} </em>
                                            <br/>
                                            <em>{% trans "Submission date:" %}</em> {{ item.videofile.uploaded_at }}
                                        </div>
                                    {% else %}
                                        <div class="mb-0 mt-1 fs-5"><a
                                                href="{% url 'video_player' course.pk section.pk item.videofile.pk %}">{{ item.videofile.name }}</a>
                                        </div>
                                        <div class="video-user-info">
                                            <em>{% trans "By:" %}</em> {{ item.videofile.author.first_name }} {{ item.videofile.author.last_name }}
                                            ({{ item.videofile.author }})
                                            <br/>
                                            <em>{% trans "Submission date:" %}</em> {{ item.videofile.uploaded_at }}
                                        </div>
                                        {% if item.videofile.description %}
                                            <p>{{ item.videofile.description|linebreaksbr }}</p>
                                        {% endif %}
                                    {% endif %}

                                    {% if item.videofile.quizzes.all %}
                                        <div class="fs-6"><em>{% trans "Quizzes:" %}</em></div>
                                        <ul class="related-quizzes pb-2">
                                            {% for quiz in item.videofile.quizzes.all  %}
                                                {% if quiz.published %}
                                                    {% quiz_details_get user quiz as quiz_details %}
                                                    <li>
                                                        {% if quiz_details.enabled %}
                                                            <a href="{% url 'quiz' course.pk section.pk quiz.pk %}">{{ quiz.name }}</a>
                                                        {% else %}
                                                            {% if quiz.requirement %}
                                                                <span class="text-muted text-underline-dashed" data-toggle="tooltip" data-placement="auto" data-html="true" title="{% trans 'Requirement must be met first:' %} {% trans quiz.requirement.name %}">{{ quiz.name }}</span>
                                                            {% else %}
                                                                <span class="text-muted">{{ quiz.name }}</span>
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if quiz_details.scoreset.exists %}
                                                            <span class="badge rounded-pill bg-success">{% trans "Submitted" %}</span>
                                                        {% else %}
                                                            <span class="badge rounded-pill bg-warning text-dark">{% trans "To do" %}</span>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="w-100">
                                    <div class="mb-0 mt-1 fs-5"><span>Video id {{ item.videofile.id }} ({% trans "awaiting to be published by user" %}) </span>
                                    </div>
                                    <div class="video-user-info">
                                        {% if course.blind_data %}
                                            <em>{% trans "By: user #" %} {{ item.videofile.author.id }}</em>
                                        {% else %}
                                            <em>{% trans "By:" %}</em> {{ item.videofile.author.first_name }}
                                            {{ item.videofile.author.last_name }} ({{ item.videofile.author }})
                                        {% endif %}
                                        <br/>
                                        <em>{% trans "Submission date:" %}</em> {{ item.videofile.uploaded_at }}
                                    </div>
                                    {% if item.videofile.description and not course.blind_data %}
                                        <p>{{ item.videofile.description|linebreaksbr }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% empty %}
                    <li class="list-group-item">
                        <span>{% trans "No participant has submitted any content." %}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}
