{% extends 'base_logged.html' %}

{% load gravatar %}
{% load i18n %}
{% load sri %}

{% block head_title %}{% trans "My account" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item active">{% trans "My account" %}</li>
{% endblock %}

{% block page_title %}
  {% trans "My account" %}
{% endblock page_title %}

{% block content_body %}
  <div class="card" id="profile">
    <div class="card-header bg-light fs-5">{% trans "Profile" %}</div>
    <div class="card-body">
      <div class="row justify-content-md-center">
        <div class="col-sm-10">
          {% if not use_social_auth_only %}
            name: {{ user.socialaccount_set.all.0.extra_data.name }} <br>

            <div class="mb-2">
              <label for="username">{% trans "Username" %}:</label>
              <input type="text" class="form-control" name="username" id="username"
                     value="{{ user.username }}" disabled>
            </div>
            {#                    <div class="mb-2">#}
            {#                        <label for="username">{% trans "Institution" %}:</label>#}
            {#                        <input type="text" class="form-control" name="username" id="username"#}
            {#                               value="{{ user.profile.institution }}">#}
            {#                    </div>#}
            <div class="mb-2">
              <label for="username">{% trans "Email address" %}:</label>
              <input type="text" class="form-control" name="username" id="username"
                     value="{{ user.email }}"
                     disabled>
            </div>
          {% endif %}
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'partials/form.html' %}
            <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
            {% if not use_social_auth_only %}
              <a href="{% url 'oauth_password' %}" class="btn btn-warning">{% trans "Change password" %}</a>
            {% endif %}
          </form>
        </div>
        <div class="col-sm-2 ps-0">
          <img src="{{ user|gravatar }}" alt="{{ user.username }}" class="w-100">
          <p class="text-center small">{% trans "This avatar is generated automatically." %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3" id="email_accounts">
    <div class="card-header bg-light fs-5">{% translate "Email accounts" %}</div>
    <div class="card-body">
      <a href="{% url 'account_email' %}" class="btn btn-primary">Manage email accounts</a>
    </div>
  </div>
  {% if use_social_auth %}
    <div class="card mt-3" id="social_accounts">
      <div class="card-header bg-light fs-5">{% trans "Social accounts" %}</div>
      <div class="card-body">
        <a href="{% url 'socialaccount_connections' %}" class="btn btn-primary">Manage social accounts</a>
      </div>
    </div>
  {% endif %}
{% endblock content_body %}

{% block javascript_bottom %}
  {% sri_static "js/help-guide-account.js" %}
{% endblock javascript_bottom %}
