{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - Sign Up{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    <div class="card-title fs-3">{% trans "Sign up" %}</div>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'partials/form.html' %}
      <button type="submit" class="btn btn-primary btn-block">{% trans "Create an account" %}</button>
    </form>
  </div>
  <div class="card-footer bg-light text-muted text-center">
    {% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Log in" %}</a>
  </div>
{% endblock content %}
