{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}GEN - Activation email sent{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    <h3 class="card-title">Activation email sent</h3>
    <p class="card-text">An activation email was sent with a confirmation link. Please confirm your email address to complete the registration.</p>
  </div>
{% endblock content %}

{% block footer %}
<div class="footer mb-2">
  <div class="text-center text-light">
    <p class="mb-0">GEN - Gamified Educational Network (2020)</p>
    <p>Developed at <a href="http://www.ontariotechu.ca" class="text-light"><u>Ontario Tech University</u></a></p>
  </div>
</div>
{% endblock footer %}
