{% extends 'base_course.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item active">{{ section }}</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  {% for item in course.sections.all %}
    {% if item.published %}
      {% if item == section %}
        <li class="nav-item">
          <a href="#" class="nav-link active">{{ item }}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'section' course.pk item.pk %}" class="nav-link">{{ item }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock content_tabs %}
