{% extends 'base.html' %}

{% load static %}

{% block container %}
  <div class="container">
    <ol class="breadcrumb my-3">
      {% block breadcrumb %}
      {% endblock breadcrumb %}
    </ol>
    <div class="card mb-3">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          {% block content_tabs %}
          {% endblock content_tabs %}
        </ul>
      </div>
      <div class="card-body">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
{% endblock container %}
