{% extends 'base_course.html' %}

{% load humanize %}
{% load checkvotes %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item active">Forums</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Forums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">PDFs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Quizzes</a>
  </li>
{% endblock content_tabs %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="mb-4">
      <a href="{% url 'new_forum' course.pk %}" class="btn btn-primary">New forum</a>
    </div>
  {% endif %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th style="width:5%"></th>
        <th>Name</th>
        <th>Comments</th>
        <th>Author</th>
        <th>Last update</th>
      </tr>
    </thead>
    <tbody>
      {% if debug == True %}
      <div class="alert alert-warning" role="alert">
        *DEBUG* user_id: {{ user.id }} <br />
      </div>
      {% endif %}
      {% for forum in forums %}
        {% comment %} Using custom template tag to check if the user voted {% endcomment %}
        {% checkvotes_forum user.id forum.pk as forum_vote_status %}
        <tr>
          <td class="text-center table-active">
            {% if user.is_authenticated %}
              {% if forum_vote_status %}
                <a href="{% url 'forum_clearvote' course.pk forum.pk %}" class="btn btn-danger"><i class="fas fa-heart"></i></a>
              {% else %}
                <a href="{% url 'forum_upvote' course.pk forum.pk %}"  class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
              {% endif %}
            {% else %}
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Please login to like">
                <a href="#"  class="btn btn-outline-secondary disabled"><i class="far fa-heart"></i></a>
              </span>
            {% endif %}
            <div class="mt-1">{{ forum.vote_score }}</div>
          </td>
          <td>
            <a href="{% url 'forum_comments' course.pk forum.pk %}">{{ forum.name }}</a>
            <small class="text-muted d-block">{{ forum.description }}</small>
            {% if debug == True %}
              Did this user vote? {{ forum_vote_status }} <br />
            {% endif %}
          </td>
          <td>{{ forum.get_comment_count }}</td>
          <td>{{ forum.author }}</td>
          <td>{{ forum.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}