{% extends 'base_course.html' %}

{% load static %}
{% load humanize %}
{% load checkvotes %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item active">Forums</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_videos' course.pk %}">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Forums</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="{% url 'list_pdfs' course.pk %}">PDFs</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_quiz' course.pk %}">Quizzes</a>
  </li>
{% endblock content_tabs %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="mb-4">
      <a href="{% url 'new_forum' course.pk %}" class="btn btn-primary">New forum</a>
    </div>
  {% endif %}

  {% if forums %}
    <table class="table forum-list">
      <thead class="thead-dark">
        <tr>
          {% if gamification %}
          <th class="th-small"></th>
          {% endif %}
          <th>Name</th>
          <th class="th-small text-center">Comments</th>
          <th>Last update</th>
        </tr>
      </thead>
      <tbody>
        {% comment %} {% if debug == True %}
        <div class="alert alert-warning" role="alert">
          *DEBUG* user_id: {{ user.id }} <br />
        </div>
        {% endif %} {% endcomment %}
        {% for forum in forums %}
          {% comment %} Using custom template tag to check if the user voted {% endcomment %}
          {% checkvotes_forum user.id forum.pk as forum_vote_status %}
          <tr>
            {% if gamification %}
              <td class="text-center table-active">
                {% if user.is_authenticated %}
                  {% if forum_vote_status %}
                    <a href="{% url 'forum_clearvote' course.pk forum.pk %}" class="btn btn-danger"><i class="fas fa-heart"></i></a>
                  {% else %}
                    <a href="{% url 'forum_upvote' course.pk forum.pk %}"  class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
                  {% endif %}
                {% else %}
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Please login to like">
                    <a href="#"  class="btn btn-outline-secondary disabled"><i class="far fa-heart"></i></a>
                  </span>
                {% endif %}
              </td>
            {% endif %}
            <td>
              <a href="{% url 'forum_comments' course.pk forum.pk %}">{{ forum.name }}</a>
              <small class="text-muted d-block">{{ forum.description }}</small>
              {% comment %} {% if debug == True %}
                <div class="alert alert-warning" role="alert">
                  *DEBUG* Did this user vote? {{ forum_vote_status }} <br />
                </div>
              {% endif %} {% endcomment %}
            </td>
            <td class="text-center">{{ forum.get_comment_count }}</td>
            <td>{{ forum.last_updated|naturaltime }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No forums.
  {% endif %}
{% endblock content %}
