{% extends 'base_course.html' %}

{% load static %}
{% load humanize %}
{% load countscore %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">{{ course.code }}</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link active" href="#">Info</a>
  </li>
  {% for section in course.sections.all %}
  <li class="nav-item">
    <a href="{% url 'section' course.pk section.pk %}" class="nav-link">{{section}}</a>
  </li>
  {% endfor %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course_forums' course.pk %}">Forums</a>
  </li>
  {% comment %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_pdfs' course.pk %}">PDFs</a>
  </li>
  {% endcomment %}
{% endblock content_tabs %}

{% block content %}
  {% comment %}
    {% for section in course.sections.all %}
      DEBUG: <br />
      <strong> {{ section }} </strong> <br />
      type: {{ section.section_type }} <br>
      requirement: {{ section.requirement  }} <br />
      <strong> Items </strong> <br />
      {% for item in section.section_items.all %}
      name: {{ item }} (id/pk: {{item.pk}}) <br />
      {% endfor %}
      <br />
    {% endfor %}
  {% endcomment %}
  <div class="card mb-3">
    <h5 class="card-header bg-light">Course Info</h5>
    <div class="card-body pb-0">
      <table class="table table-hover course-info">
        <tbody>
          <tr>
            <th scope="row" class="th-small">Code</th>
            <td>{{course.code}}</td>
          </tr>
          <tr>
            <th scope="row" class="th-small">Starting date</th>
            <td>{{course.start_date}}<br /><small>{{ course.start_date|naturaltime}}</small></td>
          </tr>
          <tr>
            <th scope="row" class="th-small">Ending date</th>
            <td>{{course.end_date}}<br /><small>{{ course.end_date|naturaltime}}</small></td>
          </tr>
          <tr>
            <th scope="row" class="th-small">Description</th>
            <td>{{course.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% if course.show_scoreboard %}
    <div class="card-deck">
      <div class="card">
        <h5 class="card-header bg-light"><i class="fas fa-heart pr-1"></i> Scoreboard</h5>
        <div class="card-body pb-0">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Forums</td>
                <td class="text-center">{% countscore_course user.id course.pk "forum" %}</td>
              </tr>
              <tr>
                <td>Comments</td>
                <td class="text-center">{% countscore_course user.id course.pk "comment" %}</td>
              </tr>
              <tr>
                <td>Quizzes</td>
                <td class="text-center">{% countscore_course user.id course.pk "quiz" %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    {% if course.show_leaderboard %}
      <div class="card">
        <h5 class="card-header bg-light"><i class="fas fa-award pr-1"></i> Leaderboard</h5>
        <div class="card-body pb-0">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Forum likes</td>
                <td>#{% rank_get user.id course.pk "forum" %}</td>
              </tr>
              <tr>
                <td>Comments</td>
                <td>#{% rank_get user.id course.pk "comment" %}</td>
              </tr>
              <tr>
                <td>Quiz</td>
                <td>#{% rank_get user.id course.pk "quiz" %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    {% if course.show_progress_tracker %}
      <div class="card">
        <h5 class="card-header bg-light"><i class="fas fa-check-square  pr-1"></i>  Course Progress</h5>
        <div class="card-body pb-0">
          <ul class="list-unstyled">
            <li>Forums participation:
              {{forums_progress.current}} / {{forums_progress.max}}

              {% if forums_progress.max > 0 %}

                {% widthratio forums_progress.current forums_progress.max 100 as forums_progress_percent %}
                <div class="progress mt-1 mb-3" data-toggle="tooltip" data-placement="top" title="{{forums_progress_percent}}%">
                  <div class="progress-bar {% if forums_progress_percent == '100' %}bg-success{% endif %}" role="progressbar" style="width: {{forums_progress_percent}}%;" aria-valuenow="{{forums_progress_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              {% else %}
                <div class="progress mt-1 mb-3" data-toggle="tooltip" data-placement="top" title="This course has no forums">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              {% endif %}
            </li>

            <li>Quizzes answered:
              {{quizzes_progress.current}} / {{quizzes_progress.max}}

              {% if quizzes_progress.max > 0 %}
                {% widthratio quizzes_progress.current quizzes_progress.max 100 as quizzes_progress_percent %}
                <div class="progress mt-1 mb-3" data-toggle="tooltip" data-placement="top" title="{{quizzes_progress_percent}}%">
                  <div class="progress-bar {% if quizzes_progress_percent == '100' %}bg-success{% else %}bg-warning{% endif %}" role="progressbar" style="width: {{quizzes_progress_percent}}%;" aria-valuenow="{{quizzes_progress_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              {% else %}
                <div class="progress mt-1 mb-3" data-toggle="tooltip" data-placement="top" title="This course has no quizzes">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
