{% extends 'base.html' %}

{% load humanize %}
{% load gravatar %}
{% load countscore %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">User Dashboard</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="card mb-3">
    <h5 class="card-header bg-dark text-white"> {{ user.username }} </h5>
    <div class="card-body">
      <div class="row">
        <div class="col col-2">
          <img src="{{ user|gravatar }}" alt="{{ user.username }}" class="w-100">
        </div>
        <div class="col col-10">
          <ul class="list-unstyled">
            <li><span class="font-weight-bold">First name: </span>{{ user.first_name }}</li>
            <li><span class="font-weight-bold">Last name: </span>{{ user.last_name }}</li>
            <li><span class="font-weight-bold">E-mail: </span>{{ user.email }}</li>
          </ul>
          <a href="{% url 'my_account' %}" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-light">
      <div class="row">
        <div class="col-10 pt-2"><i class="fas fa-laptop-code pr-1"></i> Courses</div>
        <div class="col-2 text-right"><a href="#" class="btn btn-primary disabled">Enroll</a></div>
      </div>
    </h5>
    <div class="card-body p-0">
      <ul class="list-group list-group-flush">
        {% for course in user.member.all %}
          <li class="list-group-item"><a href="{% url 'course' course.pk %}">{{ course.code }} - {{ course.name }}</a></li>
        {% empty %}
          <li class="list-group-item">Not enrolled in any course.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="card-deck mb-3">
    <div class="card">
      <h5 class="card-header bg-light"><i class="fas fa-heart pr-1"></i> Scoreboard</h5>
      <div class="card-body">
        <table class="table table-hover mb-0">
          <tbody>
            <tr>
              <td>Forums</td>
              <td class="text-center">{% countscore user.id "forum" %}</td>
            </tr>
            <tr>
              <td>Comments</td>
              <td class="text-center">{% countscore user.id "comment" %}</td>
            </tr>
            <tr>
              <td>Quizzes</td>
              <td class="text-center">{% countscore user.id "quiz" %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header bg-light"><i class="fas fa-award pr-1"></i> Leaderboard</h5>
      <div class="card-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Forum: bla</td>
            </tr>
            <tr>
              <td>You never posted a comment :(</td>
            </tr>
            <tr>
              <td>Best quiz score</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header bg-light"><i class="fas fa-check-square pr-1"></i> Progress</h5>
      <div class="card-body">
        <ul class="list-unstyled">
          {% for course in user_progress %}
            <li>
              {{course.name}}
              <div class="progress mt-1 mb-3">
                {% comment %} Forum progress bar {% endcomment %}
                {% widthratio course.forums.current course.max 100 as course_forums_progress_percent %}
                <div class="progress-bar" role="progressbar" style="width: {{course_forums_progress_percent}}%" aria-valuenow="{{course_forums_progress_percent}}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="{{course_forums_progress_percent}}% from forums"></div>
                {% comment %} Quiz progress bar {% endcomment %}
                {% widthratio course.quizzes.current course.max 100 as course_quizzes_progress_percent %}
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{course_quizzes_progress_percent}}%" aria-valuenow="{{course_quizzes_progress_percent}}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="{{course_quizzes_progress_percent}}% from quizzes"></div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock content %}
