{% extends 'base.html' %}

{% load humanize %}
{% load gravatar %}
{% load countscore %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="card mb-3">
    <h5 class="card-header bg-light">
      <div class="row">
        <div class="col-10 pt-0"><i class="fas fa-laptop-code pr-1"></i> Courses</div>
        <!-- <div class="col-2 text-right"><a href="#" class="btn btn-primary disabled">Enroll</a></div> -->
      </div>
    </h5>
    <div class="card-body p-0">
      <ul class="list-group list-group-flush">
        {% for course in user.member.all %}
          <li class="list-group-item"><a href="{% url 'course' course.pk %}">{{ course.code }} - {{ course.name }}</a></li>
        {% empty %}
          <li class="list-group-item">Not enrolled in any course. Please wait for the administrator to assign you.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}
