{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Forums</li>
{% endblock breadcrumb %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="mb-4">
      <a href="{% url 'new_forum' %}" class="btn btn-primary">New topic</a>
    </div>
  {% endif %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Forum</th>
        <th>Comments</th>
        <th>Author</th>
        <th>Last update</th>
      </tr>
    </thead>
    <tbody>
      {% for forum in forums %}
        <tr>
          <td>
            <a href="{% url 'forum_comments' forum.pk %}">{{ forum.name }}</a>
            <small class="text-muted d-block">{{ forum.description }}</small>
          </td>
          <td>{{ forum.get_comment_count }}</td>
          <td>{{ forum.author }}</td>
          <td>{{ forum.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}