{% extends 'base_course.html' %}

{% load humanize %}
{% load checkvotes %}
{% load embed_video_tags %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item active">Videos</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course_forums' course.pk %}">Forums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_pdfs' course.pk %}">PDFs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Quizzes</a>
  </li>
{% endblock content_tabs %}

{% block content %}
  <ul class="list-group">
      {% for forum in forums %}
        {% if forum.kind == 'YTB' %}
          <li class="list-group-item">
            {% video forum.url as my_video %}
              <div class="media">
                <a href="{{ forum.url }}"><img src="{{ my_video.thumbnail }}" class="mr-3" alt="Video thumbnail" style="width: 96px; height: 54px"></a> <!-- TODO: remove inline CSS-->
                <div class="media-body">
                  <span><a href="{{ forum.url }}">{{ forum.url }}</a></span>
                  <div>
                    <small><a href="{% url 'forum_comments' course.pk forum.pk %}">{{ forum.name }}</a></small>
                  </div>
                </div>
              </div>
            {% endvideo %}
          </li>
        {% endif %}
      {% empty %}
        Nothing to show.
      {% endfor %}
  </ul>
{% endblock content %}