{% extends 'base_course.html' %}

{% load static %}
{% load humanize %}
{% load checkvotes %}
{% load quizscore_check %}
{% load quizattempt_check %}
{% load embed_video_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item active">Quiz</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_videos' course.pk %}">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course_forums' course.pk %}">Forums</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="{% url 'list_pdfs' course.pk %}">PDFs</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link active" href="#">Quizzes</a>
  </li>
{% endblock content_tabs %}

{% block content %}
  {% if quizzes %}
    <table class="table quiz-list">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th class="text-center th-small">Status</th>
          <th class="text-center th-small">Attempts</th>
          <th class="text-center th-small">Score</th>
        </tr>
      </thead>
      <tbody>
      {% for quiz in quizzes %}
        {% quizscore_check user course quiz as quizscore %}
        {% quizattempt_check user course quiz as quizattempt %}
        {% if quizscore.exists %}
          <tr>
            <td>
              <!-- <span class="text-muted">{{quiz.name}}</span> -->
              <a href="{% url 'quiz' course.pk quiz.pk %}">{{quiz.name}}</a>
              <small class="text-muted d-block">{{quiz.description}}</small>
            </td>
            <td class="text-center">Done</td>
            <td class="text-center">{{quizattempt.attempt_no}}</td>
            <td class="text-center">{{quizscore.get.score}}</td>
          </tr>
        {% else %}
          <tr>
            <td>
              <a href="{% url 'quiz' course.pk quiz.pk %}">{{quiz.name}}</a>
              <small class="text-muted d-block">{{quiz.description}}</small>
            </td>
            <td class="text-center">To do</td>
            <td class="text-center">0</td>
            <td class="text-center">--</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    Nothing to show.
  {% endif %}
{% endblock content %}
