{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block title %}{% trans "Start a New Discussion Board" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'section' course.pk section.pk %}">{{ section.name }}</a></li>
  <li class="breadcrumb-item active">{% trans "New discussion board" %}</li>
{% endblock breadcrumb %}

{% block content_title %}
  <a href="{% url 'section' course.pk section.pk %}" class="text-underline-dashed">{{ section.name }}</a> / {% trans "New discussion" %}
{% endblock content_title %}

{% block content %}
  <div class="card">
    <h5 class="card-header">{% trans "New discussion" %}</h5>
    <div class="card-body">
      <form enctype="multipart/form-data" method="post">
        {% crispy form %}
      </form>
    </div>
  </div>
{% endblock %}
