{% extends 'base_course.html' %}

{% load static %}
{% load humanize %}
{% load check_attribute %}
{% load likert_range %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'list_quiz' course.pk %}">Quiz</a></li>
  <li class="breadcrumb-item active">{{quiz.name}}</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_videos' course.pk %}">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course_forums' course.pk %}">Forums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Quizzes</a>
  </li>
{% endblock content_tabs %}

{% block content %}

  {% comment %}
  {% if debug == True %}
  <div class="alert alert-warning" role="alert">
    *DEBUG* <br />
    user_id: {{ user.id }} <br />
    course_pk: {{ course.pk }} <br />
    quiz_pk: {{ quiz.pk }} <br />
    quiz.video.file.url: {{quiz.video.file.url}} <br />
    quiz.get_questions: {{quiz.get_questions}}
  </div>
  {% endif %}
  {% endcomment %}

  <div class="card-deck">
    
    {% if quiz.video %}
    <div class="card bg-secondary text-white video">
      <h5 class="card-header bg-dark">Video</h5>
      <div class="card-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <div class="embed-responsive embed-responsive-16by9">
                <video controls>
                  <source src="{{ quiz.video.file.url }}" type="video/mp4">
                  Sorry, your browse does not support embedded videos.
                </video>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    <div class="card quiz">
      <h5 class="card-header bg-light">{{quiz.name}}</h5>
      <div class="card-body">
        <form enctype="multipart/form-data" method="POST" action="{% url 'quiz' course.pk quiz.pk %}" class="form-horizontal" name="QuizForm">
          {% csrf_token %}

          {% for question in quiz.questions.all %}
            
            {% if question|check_attribute:'questiongroupheader' %}
            <h5>
              <strong>{{question.content}}</strong>
              <hr />
            </h5>
            {% else %}
            <h6 class="card-title">
              <strong>{{question.content}}</strong>
            </h6>
            {% endif %}
            
            {% if question|check_attribute:'mcquestion' %}
            <ul class="list-group mb-3">
              {% for choice in question.mcquestion.get_answers %}
              <li class="list-group-item">
                <label class="{{question.mcquestion.multiple_correct_answers|yesno:'checkbox,radio'}} mb-0">
                  <input type="{{question.mcquestion.multiple_correct_answers|yesno:'checkbox,radio'}}" name="mcquestion_{{question.pk}}" id="{{choice.pk}}" value="{{choice.pk}}"> {{choice.content}}
                </label>
              </li>
              {% endfor %}
            </ul>
            
            {% elif question|check_attribute:'likert' %}
            <div class="card ml-0 mr-0 mb-4">
              {% for answer in question.likert.get_answers %}
                <div class="card-body likert">
                  {% for value in answer.scale_min|likert_range:answer.scale_max %}
                  <div class="item">
                    <input type="radio" name="likert_{{question.id}}" id="likert_{{question.id}}" value="{{value}}">
                    <label for="likert_{{question.id}}">{{value}}</label>
                  </div>
                  {% endfor %}
                </div>
                
                {% if answer.legend %}
                <div class="likert-legend card-footer text-muted">
                  <em>Scale legend:</em>
                  {{answer.legend|linebreaks}}
                </div>  
                {% endif %}
              {% endfor %}
            </div>

            {% elif question|check_attribute:'openended' %}
              
            <div class="mb-3">
              <textarea name="openended_{{ question.id }}" rows="5" class="form-control"></textarea>
            </div>

            {% endif %}

          {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-danger" href="{% url 'list_quiz' course.pk %}" role="button">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
