{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load check_attribute %}
{% load likert_range %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'section' course.pk section.pk %}">{{ section.name }}</a></li>
  <li class="breadcrumb-item active">{{quiz.name}}</li>
{% endblock breadcrumb %}

{% block content_title %}
  <a href="{% url 'section' course.pk section.pk %}" class="text-underline-dashed">{{ section.name }}</a> / {{ quiz.name }}
{% endblock content_title %}

{% block content %}
  <div class="card-deck">
    {% if quiz.video %}
    <div class="card bg-secondary text-white video">
      <div class="card-header bg-dark">{% trans "Video" %}</div>
      <div class="card-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <div class="embed-responsive embed-responsive-16by9">
                <video controls>
                  <source src="{{ quiz.video.file.url }}" type="video/mp4">
                  {% trans "Sorry, your browser does not support embedded videos." %}
                </video>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    <div class="card quiz">
      <div class="card-header bg-light">{% trans "Questions" %}</div>
      <div class="card-body">

	    <p>{{ quiz.description }}</p>

        <form enctype="multipart/form-data" method="POST" action="{% url 'quiz' course.pk section.pk quiz.pk %}" class="form-horizontal" name="QuizForm">
          {% csrf_token %}

          {% for question in quiz.questions.all %}

            {% if question.question_type == 'H' %}
            <h5>
              <strong>{{question.content}}</strong>
              <hr />
            </h5>
            {% else %}
            <h6 class="card-title">
              <strong>{{question.content}}</strong>
            </h6>
            {% endif %}

            {% if question.question_type == 'M' %}
            <ul class="list-group mb-3">
              {% for choice in question.answers.all %}
              <li class="list-group-item">
                <label class="{{question.multiple_correct_answers|yesno:'checkbox,radio'}} mb-0">
                  <input type="{{question.multiple_correct_answers|yesno:'checkbox,radio'}}" name="mcquestion_{{question.pk}}" id="{{choice.pk}}" value="{{choice.pk}}"> {{choice.content}}
                </label>
              </li>
              {% endfor %}
            </ul>

            {% elif question.question_type == 'L' %}
            <div class="card ml-0 mr-0 mb-4">
              {% with answer=question.likertanswer %}
                <div class="card-body likert">
                  {% for value in answer.scale_min|likert_range:answer.scale_max %}
                  <div class="item">
                    <input type="radio" name="likert_{{question.id}}" id="likert_{{question.id}}" value="{{value}}">
                    <label for="likert_{{question.id}}">{{value}}</label>
                  </div>
                  {% endfor %}
                </div>

                {% if answer.legend %}
                <div class="likert-legend card-footer text-muted">
                  <em>{% trans "Scale legend" %}:</em>
                  {{answer.legend|linebreaks}}
                </div>
                {% endif %}
              {% endwith %}
            </div>

            {% elif question.question_type == 'O' %}

            <div class="mb-3">
              <textarea name="openended_{{ question.id }}" rows="5" class="form-control"></textarea>
            </div>

            {% endif %}

          {% endfor %}
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
          <a class="btn btn-danger" href="{% url 'section' course.pk section.pk %}" role="button">{% trans "Cancel" %}</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
