{% extends 'base_section.html' %}

{% load humanize %}
{% load is_instructor %}
{% load has_participated %}
{% load discussion_details_get %}

{% block content %}
  {% if user|is_instructor:course %}
  <div class="mb-3">
    <a href="{% url 'new_forum' course.pk %}" class="btn btn-warning">New discussion board</a>
  </div>
  {% endif %}

  {% if current_section.description %}
  <div class="card bg-light mb-3">
    <div class="card-body">
      <p class="card-text">{{current_section.description}}</p>
    </div>
  </div>
  {% endif %}

  <div class="card mb-3">
    <h5 class="card-header bg-light">Discussion boards</h5>
    <ul class="list-group list-group-flush">
      {% for item in section_items.all %}
        {% discussion_details_get user item.forum as discussion_details %}

        <li class="list-group-item">
          <div class="d-flex">
            <div class="flex-shrink-1 pr-3">
              {% if discussion_details.enabled %}
                {% if discussion_details.voted %}
                <a href="{% url 'forum_clearvote' course.pk item.forum.pk %}" class="btn btn-primary"><i class="fas fa-thumbs-up"></i></a>
                {% else %}
                <a href="{% url 'forum_upvote' course.pk item.forum.pk %}"  class="btn btn-outline-primary"><i class="far fa-thumbs-up"></i></a>
                {% endif %}
              {% else %}
                <a href="#" class="btn btn-outline-secondary disabled"><i class="far fa-thumbs-up"></i></a>
              {% endif %}
            </div>
            <div class="w-100">
              {% if discussion_details.enabled %}
                <a href="{% url 'forum_comments' course.pk item.forum.pk %}">{{ item }}</a>
              {% else %}
                <span class="text-muted">{{ item }}</span>
              {% endif %}
              {% if user|has_participated:item.forum %}
                <span class="badge badge-success badge-pill float-right">Participated</span>
              {% else %}
                <span class="badge badge-warning badge-pill float-right">To do</span>
              {% endif %}

              {% comment %}
              <span class="badge badge-danger badge-pill float-right">Did not submit</span>
              {% endcomment %}
              <p class="mb-0"><small class="text-muted">{{ item.description }}</small></p>
              <p class="mb-0">
                <small class="text-muted">
                  <strong>Comments:</strong>
                  {{ item.forum.get_comment_count }}
                  {% if item.forum.get_comment_count > 0 %}
                    (Last update: {{ item.forum.last_updated|naturaltime }})
                  {% endif %}
                </small>
              </p>
              {% if item.forum.requirement %}
              <small class="text-muted">Note: <em>To get access you must participate in <u>{{item.forum.requirement.name}}</u> first.</em></small>
              {% endif %}
            </div>
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
