{% extends 'base_section.html' %}

{% load humanize %}
{% load check_attribute %}
{% load checkvotes %}
{% load is_instructor %}
{% load has_participated %}
{% load discussion_details_get %}

{% block content %}
    <div class="mb-3">
      {% if user|is_instructor:course %}
      <a href="{% url 'new_forum' course.pk %}" class="btn btn-primary">New discussion board</a>
      {% endif %}
    </div>
    <div class="card mb-3">
      <h5 class="card-header bg-light">
        <span>Discussion boards</span>
      </h5>
      <div class="list-group list-group-flush">
        {% for item in current_section.section_items.all %}
          {% if item.published %}
            {% discussion_details_get user item.forum as discussion_details %}

            {% if discussion_details.enabled %}
            <a class="list-group-item" href="{% url 'forum_comments' course.pk item.forum.pk %}">
            {% else %}
            <a class="list-group-item disabled" href="#">
            {% endif %}
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">{{ item }}</h6>
                {% if user|has_participated:item.forum %}
                <span class="badge badge-success badge-pill">Participated</span>
                {% else %}
                <span class="badge badge-warning badge-pill">To do</span>
                {% endif %}

                {% comment %}
                <span class="badge badge-danger badge-pill">Did not submit</span>
                {% endcomment %}
              </div>
              <p class="mb-0"><small class="text-muted">{{ item.description }}</small></p>
              <p class="mb-0">
                <small class="text-muted">
                  <strong>Comments:</strong>
                  {{ item.forum.get_comment_count }} ({{ item.forum.last_updated|naturaltime }})
                </small>
              </p>
              {% if item.forum.requirement %}
              <small class="text-muted">Note: <em>To get access you must participate in <u>{{item.forum.requirement.name}}</u> first.</em></small>
              {% endif %}
            </a>
          {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock content %}
