{% extends 'base_course_section.html' %}

{% load static %}
{% load humanize %}
{% load is_instructor %}
{% load quiz_details_get %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block content %}
  {% comment %}
  {% if user|is_instructor:course %}
  <div class="mb-3">
    <a href="{% url 'upload_video' course.pk section.pk %}" class="btn btn-warning">Submit new video</a>
  </div>
  {% endif %}
  {% endcomment %}

  {% if section.description %}
  <p>{{section.description}}</p>
  {% endif %}

  <div class="card mb-3 section-video">
    <h5 class="card-header bg-light d-flex">
      <span class="pt-1 mr-auto">Videos</span>
      {% if user|is_instructor:course %}
        <a href="{% url 'upload_video' course.pk section.pk %}" class="btn btn-sm btn-labeled btn-warning">
          <span class="btn-label"><i class="fas fa-file-upload"></i></span>
          Submit new video
        </a>
      {% endif %}
    </h5>
    <ul class="list-group list-group-flush">
      {% if section_items.all %}
        {% for item in section_items.all %}
          <li class="list-group-item">
            <div class="d-flex">
              <div class="flex-shrink-1 pr-3">
                {% if item.videofile.thumbnail %}
                <a href="{% url 'video_player' course.pk section.pk item.videofile.pk %}"><img src="{{ item.videofile.thumbnail.url }}" class="thumbnail" alt="Video thumbnail" class="video-thumbnail"></a>
                {% else %}
                <a href="{% url 'video_player' course.pk section.pk item.videofile.pk %}"><img src="{% static 'img/thumbnail_missing.png' %}" class="thumbnail" alt="Video thumbnail missing." class="video-thumbnail"></a>
                {% endif %}
              </div>
              <div class="w-100">
                <h5 class="mb-0 mt-1"><a href="{% url 'video_player' course.pk section.pk item.videofile.pk %}">{{ item.videofile.name }}</a></h5>
                <p>{{ item.videofile.description }}</p>

                {% if item.videofile.quizzes.all %}
                <h6><em>Quizzes:</em></h6>
                <ul class="related-quizzes">
                  {% for quiz in item.videofile.quizzes.all  %}
                  {% quiz_details_get user quiz as quiz_details %}
                  <li>
                    {% if quiz_details.enabled %}
                      <a href="{% url 'quiz' course.pk section.pk quiz.pk %}">{{ quiz.name }}</a>
                    {% else %}
                      {% if quiz.requirement %}
                        <span class="text-muted text-underline-dashed" data-toggle="tooltip" data-placement="auto" data-html="true" title="Requires <u>{{quiz.requirement.name}}</u> to be completed first.">{{ quiz.name }}</span>
                      {% else %}
                        <span class="text-muted">{{ quiz.name }}</span>
                      {% endif %}
                    {% endif %}

                    {% if quiz_details.score.exists %}
                      <span class="badge badge-success badge-pill">Submitted</span>
                    {% else %}
                      <span class="badge badge-warning badge-pill">To do</span>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">
          No video available.
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock content %}
