{% extends 'base_course_section.html' %}

{% load static %}
{% load humanize %}
{% load check_attribute %}
{% load quiz_details_get %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block content %}
  
  {% if section.description %}
  <p>{{section.description}}</p>
  {% endif %}
  
  <div class="card mb-3 section-quiz">
    <div class="card-header">Quizzes</div>
    <ul class="list-group list-group-flush">
    {% if section_items.all %}
      {% for item in section_items.all %}
        {% quiz_details_get user item.quiz as quiz_details %}

        <li class="list-group-item">
          <div class="d-flex">
            <div class="w-100">
              {% if quiz_details.enabled %}
                <a href="{% url 'quiz' course.pk section.pk item.quiz.pk %}">{{ item }}</a>
              {% else %}
                {% if item.quiz.requirement %}
                  <span class="text-muted text-underline-dashed" data-toggle="tooltip" data-placement="auto" data-html="true" title="Requires <u>{{item.quiz.requirement.name}}</u> to be completed first.">{{ item }}</span>
                {% else %}
                  <span class="text-muted">{{ item }}</span>
                {% endif %}
              {% endif %}
              {% if quiz_details.score.exists %}
                <span class="badge badge-success badge-pill float-right">Submitted</span>
              {% else %}
                <span class="badge badge-warning badge-pill float-right">To do</span>
              {% endif %}

              {% comment %}
              <span class="badge badge-danger badge-pill float-right">Did not submit</span>
              {% endcomment %}
              <p class="mb-0"><small class="text-muted">{{ item.description }}</small></p>
              {% if item.quiz.show_score %}
              <p class="mb-0">
                <small class="text-muted">
                  <strong>Score:</strong>
                  {% if quiz_details.score.exists %}
                    {{quiz_details.score.get.score}}
                  {% else %}
                    --
                  {% endif %}
                </small>
              </p>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <div class="list-group-item">No quiz available.</div>
    {% endif %}
    </ul>
  </div>
{% endblock content %}
