{% extends 'base.html' %}

{% load humanize %}
{% load i18n %}
{% load gravatar %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{% trans "Settings" %}</li>
{% endblock breadcrumb %}

{% block content %}

<div class="card-deck">
    <div class="card bg-secondary text-white">
        <h5 class="card-header bg-dark">{% trans "Your info" %}</h5>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">{% trans "Save changes" %}</button>
            </form>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header bg-light">{% trans "Social accounts" %}</h5>
        <div class="card-body">
            <h3>GitHub</h3>
            {% if github_login %}
                <p>{% trans "Connected as" %} <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
                {% if can_disconnect %}
                <form method="post" action="{% url 'social:disconnect' 'github' %}">
                    {% csrf_token %}
                    <button type="submit">{% trans "Disconnect from GitHub" %}</button>
                </form>
                {% else %}
                <button type="button" disabled>{% trans "Disconnect from GitHub" %}</button>
                <p style="color: red">
                  {% trans "You must set a password for your account before disconnecting from Github." %} <a href="{% url 'password' %}">{% trans "Set your password now." %}</a>
                </p>
                {% endif %}
            {% else %}
                <a href="{% url 'social:begin' 'github' %}">{% trans "Connect to GitHub" %}</a>
            {% endif %}

            <h3>Google</h3>
            {% if google_login %}
                <p>
                  {% blocktrans %}
                  Connected as {{ google_login.uid }} - {{ google_login.user.first_name}} {{ google_login.user.last_name}}
                  {% endblocktrans %}
                </p>
                {% if can_disconnect %}
                <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                    {% csrf_token %}
                    <button type="submit">{% trans "Disconnect from Google" %}</button>
                </form>
                {% else %}
                <button type="button" disabled>{% trans "Disconnect from Google" %}</button>
                <p style="color: red">
                  {% trans "You must set a password for your account before disconnecting from Google." %} <a href="{% url 'password' %}">{% trans "Set your password now." %}</a>
                </p>
                {% endif %}
            {% else %}
                <a href="{% url 'social:begin' 'google-oauth2' %}">{% trans "Connect to Google" %}</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
