{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - {% trans "Delete video confirmation" %}{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    <h3 class="card-title">{% trans "Confirmation" %}</h3>
    <p class="card-text">{% trans "Are you sure that you want to <strong>unpublish</strong> this video? This will hide it from the course participants." %}</p>
    <div class="media border mb-2 pb-2 bg-white">
      <img src="{{ video.thumbnail.url }}" class="mr-3" alt="{% trans 'Video thumbnail' %]">
      <div class="media-body">
        <h5 class="mt-2">{{video.name}}</h5>
        {{video.description}}
      </div>
    </div>
    <form method="post" novalidate>
        {% csrf_token %}
        <button type="submit" name="confirm" value="confirm" class="btn btn-warning">{% trans "Yes, unpublish video" %}</button>
        <a href="{% url 'section' course.pk section.pk %}" class="btn btn-secondary">{% trans "No, cancel" %}</a>
      </form>
  </div>
{% endblock content %}
