{% extends 'base_section.html' %}

{% load crispy_forms_tags %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'section' course.pk current_section.pk %}">{{ current_section }}</a></li>
  <li class="breadcrumb-item active">Upload video</li>
{% endblock breadcrumb %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
      {% crispy form %}
  </form>
{% endblock %}
