{% extends 'base_course.html' %}

{% load static %}
{% load humanize %}
{% load checkvotes %}
{% load embed_video_tags %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' course.pk %}">{{ course.code }}</a></li>
  <li class="breadcrumb-item active">Videos</li>
{% endblock breadcrumb %}

{% block content_tabs %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course' course.pk %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'course_forums' course.pk %}">Forums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_pdfs' course.pk %}">PDFs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'list_quiz' course.pk %}">Quizzes</a>
  </li>
{% endblock content_tabs %}

{% block content %}
  {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="user_video">
        <button type="submit">Upload video</button>
    </form>

    {% if uploaded_file_url %}
        <p>Video uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

    <p><a href="{% url 'home' %}">Return to home</a></p>
  {% endif %}
{% endblock %}
