{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}GEN - Video player{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    <h3 class="card-title">{{video.title}}</h3>
    <p class="card-text">
        DEBUG: course {{ course }} <br>
        DEBUG: video {{ video }}
        <video controls width="100%">
        
            <source src="{{ video.file.url }}" type="video/mp4">
        
            Sorry, your browser doesn't support embedded videos.
        </video>
    </p>
    <!-- <a href="{% url 'home' %}" class="btn btn-secondary">Return to login page</a> -->
  </div>
{% endblock content %}

{% block footer %}

{% endblock footer %}
