{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - {% trans "Video player" %}{% endblock title %}

{% block body %}
  <div class="card-body">
    <p class="card-text embed-responsive embed-responsive-16by9">
        <video controls>
            <source src="{{ video.file.url }}" type="video/mp4">
            {% trans "Sorry, your browser doesn't support embedded videos." %}
        </video>
    </p>
  </div>
{% endblock body %}

{% block footer %}

{% endblock footer %}
