{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - {% trans "Activation email sent" %}{% endblock title %}

{% block content %}
    <div class="card-body bg-light text-dark">
        <div class="card-title fs-3">{% trans "Activation email sent" %}</div>
        <p class="card-text">{% trans "An activation email was sent with a confirmation link. Please check your email account Inbox and Spam folders, and click on the link contained in the email to complete the registration." %}</p>
        {% if debug_mode %}
            <p class="alert alert-warning"><b>DEBUG MODE ON:</b> emails are not sent in debug mode, and their content is shown in the console log output.</p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-primary btn-block">{% trans "Return to login page" %}</a>
    </div>
{% endblock content %}
