{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - Change password{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    {% if validlink %}
      <div class="card-title fs-3">{% trans "Change password" %}</div>
      <form method="post">
        {% csrf_token %}
        {% include 'partials/form.html' %}
        <button type="submit" class="btn btn-primary btn-block">{% trans "Change password" %}</button>
      </form>
    {% else %}
      <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
  </div>
{% endblock content %}
