{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - Password reset sent{% endblock title %}

{% block content %}
  <div class="card-body bg-light text-dark">
    <div class="card-title fs-3">{% trans "Password reset" %}</div>
    {% blocktrans %}
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    <p>To get in touch, send us an email: <a href="mailto:support@maxsimgen.com">support@maxsimgen.com</a></p>
    {% endblocktrans %}
    <a href="{% url 'home' %}" class="btn btn-primary btn-block">{% trans "Return to login page" %}</a>
  </div>
{% endblock content %}
