{% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p {% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}

{#  field {{ field|field_type }}<br>#}
{#  widget_type: {{ field|widget_type }}<br>#}
{#  html_name: {{ field.html_name }}<br>#}
{##}
{#  {% if field|widget_type == "checkboxinput" %}#}
{#    <div class="mb-2 form-check">#}
{#    {{ field.label_tag }}#}
{##}
{#    {% render_field field class=field|input_class %}#}
{#    </div>#}
{##}
{#  {% endif %}#}

  <div class="mb-2">
    {{ field.label_tag }}

    {% render_field field class=field|input_class %}

    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}

    {% if field.help_text %}
      <div class="form-text text-muted">
        {{ field.help_text|safe }}
      </div>
    {% endif %}

  </div>
{% endfor %}
