{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
  <div class="card bg-light text-dark" id="login-card">
    <div class="card-body">
      <h3 class="card-title">{% trans "Login Cancelled" %}</h3>
      {% url 'account_login' as login_url %}
      {% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a
        mistake, please proceed to <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </div>
  </div>
{% endblock %}
