{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="card bg-light text-dark" id="login-card">
    <div class="card-header bg-light text-dark">
      <h3 class="m-0">
        {% if process == "connect" %}
          {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% else %}
          {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% endif %}
      </h3>
    </div>
    <div class="card-body">
      {% if process == "connect" %}
        {% blocktrans with provider.name as provider %}You are about to connect a new third party
          account from {{ provider }}.{% endblocktrans %}
      {% else %}
        {% blocktrans with provider.name as provider %}You are about to sign in using a third party
          account from {{ provider }}.{% endblocktrans %}
      {% endif %}
    </div>
    <div class="card-footer">
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
