{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block content_title %}
  {% if process == "connect" %}
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
  {% else %}
    {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block content_body %}
  {% if process == "connect" %}
    {% blocktrans with provider.name as provider %}You are about to connect a new third party
      account from {{ provider }}.{% endblocktrans %}
  {% else %}
    {% blocktrans with provider.name as provider %}You are about to sign in using a third party
      account from {{ provider }}.{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block content_footer %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
  </form>
{% endblock %}
