{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}GEN - {% trans "Delete video confirmation" %}{% endblock head_title %}

{% block content %}
    <div class="card-body bg-light text-dark">
        <div class="card-title fs-3">{% trans "Confirmation" %}</div>
        <p class="card-text">{% trans "Are you sure that you want to delete the following video?" %}</p>
        <div class="card mb-3">
            <div class="card-body mt-0 pt-0">
              <div class="card-text text-center ratio ratio-16x9" id="video-player">
                    {% include "partials/video_player.html" with video=video %}
                </div>
              <div class="card-title fs-5">{{ video.name }}</div>
                        <p class="card-text">{{ video.description|linebreaksbr }}</p>
            </div>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            <button type="submit" name="confirm" value="confirm"
                    class="btn btn-danger">{% trans "Yes, delete video" %}</button>
            <a href="{% url 'section' course.pk section.pk %}" class="btn btn-secondary">{% trans "No, cancel" %}</a>
        </form>
    </div>
{% endblock content %}
