{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}GEN - {% trans "Delete video confirmation" %}{% endblock head_title %}

{% block content %}
    <div class="card-body bg-light text-dark">
        <div class="card-title fs-3">{% trans "Confirmation" %}</div>
        <p class="card-text">{% trans "Are you sure that you want to <strong>unpublish</strong> this video? This will hide it from the course learners." %}</p>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ video.thumbnail.url }}" class="me-3" alt="{% trans 'Video thumbnail' %}">
                </div>
                <div class="col-md-9">
                    <div class="card-body ps-0">
                        <div class="card-title fs-5">{{ video.name }}</div>
                        <p class="card-text">{{ video.description|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            <button type="submit" name="confirm" value="confirm"
                    class="btn btn-warning">{% trans "Yes, unpublish video" %}</button>
            <a href="{% url 'section' course.pk section.pk %}" class="btn btn-secondary">{% trans "No, cancel" %}</a>
        </form>
    </div>
{% endblock content %}
