{% extends 'base_course_section.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{#{% load sri %}#}

{% block content_title %}
  <a href="{% url 'section' course.pk section.pk %}" class="text-underline-dashed">{{ section.name }}</a> /
  {% trans "New video" %}
{% endblock content_title %}

{% block content %}
  <div class="card">
    <div class="card-header fs-5">{% trans "New Video Information" %}</div>
    <div class="card-body">
      {% crispy form %}
      <div id="upload-status" class="alert alert-warning" role="alert" style="display:none">
        <div>
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Uploading. Please
          wait.
        </div>
        <div class="progress mt-1">
          <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
               aria-valuemax="100"><span id="progress-bar-value">0%</span>
          </div>
        </div>
      </div>
      <div id="progress-status"></div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block javascript_bottom %}
  <script src="{% static 'js/help-guide-course.js' %}"></script>
  {#<script src="{% static 'js/upload-video.js' %}"></script>#}
  <script>
    const form = document.getElementById("form-upload-video")
    const progressBar = document.getElementById("progress-bar")
    const progressBarValue = document.getElementById("progress-bar-value")
    const submitButton = document.getElementById("submit-id-submit")
    const uploadStatus = document.getElementById("upload-status")
    const log = document.getElementById("progress-status")

    submitButton.addEventListener("click", event => {
      uploadFile();
      submitButton.disabled = true;
    })

    // form handlers

    function progressHandler(event) {
      uploadStatus.style.display = "block";

      let percentComplete = Math.round((event.loaded / event.total) * 100);
      progressBar.style.width = percentComplete + '%';
      progressBarValue.innerText = percentComplete + '%';

      if (percentComplete === 100) {
        progressBar.textContent = 'Upload Complete';
      }
    }

    function errorHandler(event) {
      log.innerText = `Upload failed: ${event.target.responseText}`;
    }

    function abortHandler(event) {
      log.innerText = `Upload aborted: ${event.target.responseText}`;
    }

    // file upload

    function uploadFile() {
      let formData = new FormData(form);
      let xhr = new XMLHttpRequest();

      progressBar.style.width = '0';
      progressBarValue.innerText = "0%";

      xhr.upload.addEventListener("progress", progressHandler, false);
      xhr.addEventListener("error", errorHandler, false);
      xhr.addEventListener("abort", abortHandler, false);
      xhr.addEventListener("loadend", function () {
        if (xhr.status === 200) {
          window.location.href = '{% url "section" course.pk section.pk %}';
        } else {
          alert('Upload failed')
        }
      });

      xhr.open("POST", '{% url "upload_video" course.pk section.pk %}', true);
      xhr.send(formData);
    }
  </script>

  {#{% sri_static "js/help-guide-course.js" %}#}
  {#{% sri_static "js/upload-video.js" %}#}
{% endblock javascript_bottom %}
