{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}

{% block title %}GEN - {% trans "Video player" %}{% endblock title %}

{% block body %}
    <div class="card-group m-3">
        <div class="card" id="card-video-player">
            <div class="card-body">
                <div class="card-text text-center" id="video-player">
                    <video poster="{{ video.thumbnail.url }}" controls>
                        <source src="{{ video.file.url }}" type="video/mp4">
                        {% trans "Sorry, your browser doesn't support embedded videos." %}
                    </video>
                </div>
            </div>
            <div class="card-footer">
              <button onClick="window.history.back()" class="btn btn-secondary">{% trans "Back" %}</button>
            </div>
        </div>
        {% if video.content %}
            <div class="card" id="card-video-content">
                <div class="card-body">
                    <div class="card-title fs-5">{% trans "Content" %}</div>
                    <div class="card-text">
                        <p>{{ video.content|safe }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock body %}

{% block footer %}

{% endblock footer %}
