{% load i18n %}
{% load static %}

<div class="card-text text-center ratio ratio-16x9 mt-2 mb-2" id="video-player">
    <video crossorigin="anonymous" poster="{% if video.thumbnail %} {{ video.thumbnail.url }} {% else %} {% static 'img/thumbnail_missing.png' %} {% endif %}" controls>
        {% if video.subtitle %}
            <track default
                   kind="captions"
                   srclang="en"
                   label="English"
                   src="{{ video.subtitle.url }}" />
        {% endif %}
        <source src="{{ video.file.url }}" type="video/mp4">
        {% trans "Sorry, your browser doesn't support embedded videos." %}
    </video>
</div>
{% if video.content %}
    {{ video.content|safe }}
{% endif %}