{% extends 'base_accounts.html' %}

{% load static %}
{% load support_emails %}
{% load i18n %}

{% block title %}Access forbidden{% endblock title %}

{% block content %}
    <div class="card-body bg-light text-dark">
        {% if messages %}
            {% include 'partials/messages.html' %}
        {% endif %}
        <div class="card-title fs-3">{% trans "Access forbidden (HTTP 403)" %}</div>
        <p>{% trans "You don't have permission to access this page." %}</p>
        <div class="alert alert-info mt-3 mb-0">
            {% blocktrans %}
                If you believe that this is an error, contact us at
            {% endblocktrans %}
            {% support_emails %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <div class="footer mb-2">
        <div class="text-center text-light">
            <div class="text-center">
                <a href="http://www.ontariotechu.ca"><img
                        src="{% static 'img/OntarioTechUniversity_Primary_Colour_RGB_DK_Bkgnd_150ppi.png' %}"
                        alt="{% trans 'Ontario Tech University colour logo in a dark background' %}" width="200px"></a>
                <a href="http://www.maxsimhealth.com"><img src="{% static 'img/maxSIMhealth_Logo.png' %}"
                                                           alt="{% trans 'maxSIMhealth logo' %}" width="200px"></a>
                <p class="mb-0">{% trans "Developed at" %} <a href="http://www.ontariotechu.ca" class="text-light"><u>Ontario
                    Tech University</u></a> - <u><a href="http://www.maxsimhealth.com"
                                                    class="text-light">maxSIMhealth</a></u></p>
                <p>GEN - Gamified Educational Network (2022)</p>
            </div>
        </div>
    </div>
{% endblock footer %}
