{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load generate_sections_sidebar %}
{% load generate_sections_navbar %}
{% load sri %}
{% load django_bootstrap5 %}

{% block head_title %}GEN - {{course.name}} - {{ section.name }}{% endblock head_title %}

{% block container %}
    {% comment %}
        <ol class="breadcrumb my-3">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
        </ol>
    {% endcomment %}

    <div class="card bg-dark mb-3" id="course-name">
        <div class="card-header">
            <div class="card-text text-white fs-5 p-0">{{ course.name }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 order-lg-1">
            <div class="card mb-3 sticky-top" id="sections-navbar">
                <nav class="card-header navbar navbar-expand-lg navbar-light">
                    <div href="#" class="fs-5 mb-0">{% trans "Sections" %}</div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#sidebar" aria-controls="sidebar"
                            aria-expanded="false" aria-label="{% trans 'Toggle sections list' %}">
                        <span class="navbar-toggler-icon"></span>
                        {% trans "Toggle" %}
                    </button>
                </nav>
                <div class="collapse d-lg-block navbar-collapse" id="sidebar">
                    <div class="list-group list-group-flush navbar-nav">
                        {% block content_tabs %}
                            <a class="list-group-item list-group-item-action" href="{% url 'course' course.pk %}">{{ course.initial_section_name }}</a>
                            {% generate_sections_sidebar %}
                        {% endblock content_tabs %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 order-lg-2" id="section-content">
            <h2 class="mb-3" id="section-name">
                {% block content_title %}
                    {{ section.name }}
                {% endblock content_title %}
            </h2>

            {% if messages %}
                {% include 'partials/messages.html' %}
            {% endif %}

{#            {% if section_status.completed %}#}
{#                {% if section.final_assessment %}#}
{#                    {% trans "Congratulations! You have passed the assessment." as congratulations %}#}
{#                    {% if course.provide_certificate %}#}
{#                        {% blocktranslate asvar congratulations %}#}
{#                            {{ congratulations }} Your certificate of completion is now available in the Information section.#}
{#                        {% endblocktranslate %}#}
{#                    {% endif %}#}
{#                {% else %}#}
{#                    {% trans "Congratulations! You have completed this section." as congratulations %}#}
{#                {% endif %}#}
{#                {% bootstrap_alert congratulations alert_type="success" dismissible=False %}#}
{#            {% endif %}#}

            {% if message_congratulations %}
                {% bootstrap_alert message_congratulations alert_type="success" dismissible=False %}
            {% endif %}

            {% if section_status.completed and section.completion_message %}
                {% bootstrap_alert section.completion_message alert_type="info" dismissible=False %}
            {% endif %}

            {% block content %}
            {% endblock content %}

            {% block navbar %}
                {% generate_sections_navbar %}
            {% endblock navbar %}
        </div>
    </div>
{% endblock container %}

{% block javascript_bottom %}
    {% sri_static "js/help-guide-course.js" %}
{% endblock javascript_bottom %}
