{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}
{% load gravatar %}
{% load countscore %}
{% load is_instructor %}
{% load get_course_status %}

{% comment %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active">{% trans "Home" %}</li>
    {% endblock breadcrumb %}
{% endcomment %}

{% block content %}
    <div class="card bg-dark mb-3" id="page-name">
        <div class="card-header">
            <h5 class="card-text text-white p-0">{% trans "Home" %}</h5>
        </div>
    </div>

    {% if messages %}
        {% include 'partials/messages.html' %}
    {% endif %}

    <div class="card" id="courses">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-10 pt-0"><h5 class="m-0"><i class="fas fa-laptop-code pr-1"></i> {% trans "Courses" %}</h5></div>
                {#                <div class="col-2 text-right"><a href="#" class="btn btn-primary btn-sm disabled">{% trans "Enroll" %}</a></div>#}
            </div>
        </div>
        <div class="card-body p-0">
            <ul class="list-group list-group-flush">
                {% for course in courses %}
                    <li class="list-group-item">
                        <h5>
                            <a href="{% url 'course' course.pk %}">
                                {% if user|is_instructor:course %}
                                    {{ course.code }} -
                                {% endif %}
                                {{ course.name }}
                            </a>
                        </h5>
                        <div>
                            <strong>Status:</strong>
                            {% get_course_status user course as course_status %}
                            <span style="font-size: 1.2em">
                                {% if course_status == 0 %}
                                    <span class="badge rounded-pill bg-warning text-dark">{% trans "Not started" %}</span>
                                {% elif course_status == 1 %}
                                    <span class="badge rounded-pill bg-primary">{% trans "Started" %}</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-success">{% trans "Completed" %}</span>
                                {% endif %}
                            </span>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">{% trans 'Not enrolled in any course. Please wait for the administrator to assign you.' %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}
