{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}
{% load gravatar %}
{% load countscore %}
{% load is_instructor %}
{% load get_course_status %}

{% comment %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active">{% trans "Home" %}</li>
    {% endblock breadcrumb %}
{% endcomment %}

{% block content %}
    <div class="card bg-dark mb-3" id="page-name">
        <div class="card-header">
            <div class="card-text text-white fs-5 p-0">{% trans "Home" %}: {{ title }}</div>
        </div>
    </div>

    {% if messages %}
        {% include 'partials/messages.html' %}
    {% endif %}

    {% if courses %}
        {% include 'partials/dashboard_items.html' with items=courses type='courses' %}
    {% endif %}

    {% if modules %}
        {% include 'partials/dashboard_items.html' with items=modules type='modules' %}
    {% endif %}

    {% if not courses and not modules %}
        <li class="list-group-item">{% blocktranslate %} Not enrolled in any course/module. Please wait for the administrator to assign you.{% endblocktranslate %}</li>
    {% endif %}

{% endblock content %}
