{% extends 'base_accounts.html' %}

{% load static %}
{% load i18n %}
{% load support_emails %}

{% block title %}Sign up to GEN{% endblock title %}

{% block content %}
    <div class="card-body bg-light text-dark">
        {% if messages %}
            {% include 'partials/messages.html' %}
        {% endif %}
        <div class="card-title fs-3">{% trans "Log in" %}</div>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'partials/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
        </form>
        <div class="alert alert-info mt-3 mb-0">
            {% blocktrans %}
                If you have problems logging into GEN, please contact us at
            {% endblocktrans %}
            {% support_emails %}
        </div>
    </div>
    <div class="card-footer bg-light text-muted text-center">
        {% trans "New to GEN?" %} <a href="{% url 'signup' %}">{% trans "Sign up" %}</a>
        {% comment %}
            <br>
            <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
        {% endcomment %}
    </div>
    <div class="text-center bg-dark text-white py-2">
        <small>
            <a href="{% url 'password_reset' %}" class="text-light">{% trans "Forgot your password?" %}</a>
        </small>
    </div>
{% endblock content %}

{% block footer %}
    <div class="footer mb-2">
        <div class="text-center pt-2 pb-2 text-light">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <label for="language">{% trans "Language:" %}</label>
                <select name="language" id="language" class="form-select form-select-sm" aria-label="{% trans "List of languages" %}" style="width:200px;display: inline-block">
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local|capfirst }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" class="btn btn-primary btn-sm">
            </form>
        </div>
        <div class="text-center text-light">
            <div class="text-center">
                <a href="http://www.ontariotechu.ca"><img
                        src="{% static 'img/OntarioTechUniversity_Primary_Colour_RGB_DK_Bkgnd_150ppi.png' %}"
                        alt="{% trans 'Ontario Tech University colour logo in a dark background' %}" width="200px"></a>
                <a href="http://www.maxsimhealth.com"><img src="{% static 'img/maxSIMhealth_Logo_white.png' %}"
                                                           alt="{% trans 'maxSIMhealth logo' %}" width="200px"></a>
                <p class="mb-0">{% trans "Developed at" %} <a href="http://www.ontariotechu.ca" class="text-light"><u>Ontario
                    Tech University</u></a> - <u><a href="http://www.maxsimhealth.com"
                                                    class="text-light">maxSIMhealth</a></u></p>
                <p>GEN - Gamified Educational Network (2020)</p>
            </div>
        </div>
    </div>
{% endblock footer %}
